/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
    50 : #ffefe8,
    100 : #ffd7c5,
    200 : #ffbd9e,
    300 : #ffa277,
    400 : #ff8e5a,
    500 : #ff7a3d,
    600 : #ff7237,
    700 : #ff672f,
    800 : #ff5d27,
    900 : #ff4a1a,
    A100 : #ffffff,
    A200 : #fffefe,
    A400 : #ffd5cb,
    A700 : #ffc0b2,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-accent: (
    50 : #ebeaea,
    100 : #cdcbcb,
    200 : #aba9a8,
    300 : #898685,
    400 : #706c6a,
    500 : #575250,
    600 : #4f4b49,
    700 : #464140,
    800 : #3c3837,
    900 : #2c2827,
    A100 : #f7a083,
    A200 : #f37b53,
    A400 : #ff4f14,
    A700 : #fa3e00,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-warn: (
    50 : #fefefe,
    100 : #fcfcfc,
    200 : #fafafa,
    300 : #f8f8f8,
    400 : #f7f7f7,
    500 : #f5f5f5,
    600 : #f4f4f4,
    700 : #f2f2f2,
    800 : #f0f0f0,
    900 : #eeeeee,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);